<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Register</title>
	</head>
	<body>
		<h1>Register</h1>

		<form action="/users/register" method="post" enctype="multipart/form-data">
			Username: <input type="text" name="Username" /><br />
			Email: <input type="email" name="Email" /><br />
			Password: <input type="password" name="Password" /><br />
			<input type="submit" value="Submit" />
		</form>
		Sudah punya akun?
		<br />
		<a href="/login">Masuk Sekarang</a>
	</body>
</html>
